@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #C4C4CC;
  --text-secondary: #8D8D99;
  --white: #fff;
  --bg: #121214;
  --bg-secondary: #202024;
  --divider: #323238;
  --placeholder: #7C7C8A;
  --primary: #478EBD;
  --secondary: #47BAFC;
  --red-danger: #F75A68;
  --ff: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--ff);
}

a {
  text-decoration: none;
  color: var(--text);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.menu a {
  position: relative;
  font-weight: 500;
}

.menu a:hover {
  color: var(--white);
}

.menu a::after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--white);

  position: absolute;
  left: 0;
  bottom: -0.6rem;

  transition: width 0.2s;
}

.menu a:hover::after {
  width: 100%;
}

.active-menu {
  color: var(--white);
}

a.active-menu::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--white);

  position: absolute;
  left: 0;
  bottom: -0.6rem;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

header {
  background-color: var(--bg-secondary);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.dropbtn .user-img {
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  right: 0;
  background-color: var(--bg-secondary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  width: fit-content;
  margin: 25px 16px;
  display: block;
}

.danger {
  color: var(--red-danger);
}

.show {
  display: block;
}