@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #c4c4cc;
  --text-secondary: #8d8d99;
  --white: #fff;
  --text-logo: #e1e1e6;
  --bg: #121214;
  --bg-secondary: #202024;
  --border-line: #c4c4c4;
  --divider: #323238;
  --placeholder: #7c7c8a;
  --primary: #478ebd;
  --secondary: #47bafc;
  --red-danger: #f75a68;
  --green-success: #00875f;
  --ff: "Roboto", sans-serif;
}

h3 {
  font-weight: 500;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--ff);
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas: "header" "content";
}

a,
button,
input,
textarea {
  font-family: var(--ff);
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  background-color: transparent;
  border: none;
}

a:hover {
  color: var(--white);
}

input,
textarea {
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--text);
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
}

textarea {
  padding: 0.8rem;
}

input {
  height: 45px;
  padding: 0 0.8rem;
}

.initial-msg {
  margin-top: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--bg);
}

main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  animation: top-down 1s ease forwards;
  padding: 2rem 8rem;
  grid-area: content;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: var(--bg-secondary); /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

button:hover {
  filter: brightness(1.1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  width: fit-content;
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 1.5rem;
  border: none;
}

legend {
  font-size: 1.6rem;
  text-align: start;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.form-wrapper {
  background-color: var(--bg-secondary);
  display: flex;
  max-width: 700px;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  padding: 3rem;
  margin: 0 auto;
}

.default-btn,
.danger-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  gap: 8px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.danger-btn-modal {
  width: 50%;
}

.default-btn {
  background-color: var(--primary);
  color: var(--white);
}

.danger-btn {
  background-color: var(--bg-secondary);
  color: var(--red-danger);
  border: 1px solid var(--red-danger);
}

/* Login e SignUp */

main#index {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#index .form-wrapper {
  width: 25rem;
}

#index section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#index legend {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

#index section img {
  width: 20rem;
}

.invalid-msg {
  color: var(--red-danger);
  font-size: 13px;
  display: none;
}

/* Header */

#header-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-logo);
  gap: 1rem;
}

#header-logo img {
  width: 2rem;
}

#header-logo p span {
  color: var(--secondary);
}

.menu a {
  position: relative;
  font-weight: 500;
}

.menu a:hover {
  color: var(--white);
}

.menu a::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--white);

  position: absolute;
  left: 0;
  bottom: -0.6rem;

  transition: width 0.2s;
}

.menu a:hover::after {
  width: 100%;
}

.active-menu {
  color: var(--white);
}

a.active-menu::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--white);

  position: absolute;
  left: 0;
  bottom: -0.6rem;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

header {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: header;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8rem;
  height: 100%;
}

.menu {
  display: flex;
  gap: 2rem;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.dropbtn .user-img {
  object-fit: cover;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  right: 0;
  background-color: var(--bg-secondary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  width: fit-content;
  margin: 25px 16px;
  display: block;
}

.danger {
  color: var(--red-danger);
}

.show {
  display: block;
}

/*Alert*/

#alert-div {
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--divider);
  border-right: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
  border-radius: 8px;
  width: fit-content;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

#alert-div.showAlert {
  opacity: 1;
  pointer-events: auto;
}

#alert-div i {
  color: var(--primary);
  font-size: calc(1rem + 0.5vw);
}

#alert-div.show {
  animation: show-slide 1s ease forwards;
}

#alert-div.hide {
  animation: hide-slide 1s ease forwards;
}

#alert-div button {
  cursor: pointer;
}

/* Explore page */

.user {
  width: auto;
  border-radius: 8px;
  border: 1px solid var(--border-line);
  background: var(--bg-secondary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.profile-user {
  display: flex;
  align-content: center;
  padding: 10px;
  min-width: 200px;
  max-width: 500px;
}

.img-user {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--primary);
  padding: 2px;
}

.text-profile {
  padding-left: 10px;
  align-self: center;
  font: var(--ff);
  font-size: 12px;
  color: var(--text);
}

.name-profile {
  font-weight: bold;
}

.align-follow-btn {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.follow-btn {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 14px;
  gap: 5px;
  max-height: 45px;
  color: var(--white);
  font-size: 14px;
}

.follow-btn:hover {
  cursor: pointer;
}
.unfollow-btn {
  background: var(--bg-secondary);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 14px;
  gap: 5px;
  max-height: 45px;
  color: var(--secondary);
  font-size: 14px;
}

.unfollow-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4px rgb(75, 186, 252, 0.7);
}

.span-edit-profile {
  padding: 10px 10px;
  color: var(--red-danger);
}

.msg-alert-delete-account {
  margin-bottom: 10px;
}

.disable {
  background-color: #45444465;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--text);
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.img-danger {
  padding-bottom: 2px;
  width: 20%;
}

.div-btn-danger {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@keyframes show-slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hide-slide {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200%);
  }
}

@keyframes top-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Following */

main#following {
  /* border: solid 1px red; */
  width: 95%;
}

h2 {
  margin-bottom: 20px;
}

section#follow-container {
  /* align-items: center; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-card {
  /* margin: 10px 0; */
  padding-left: 2%;
  padding-right: 2%;
  height: 102px;
  width: 100%;
  background: #202024;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-identify,
.post-author-identify {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--ff);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.img-follow-card,
.img-post-card {
  margin: 10px 0;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 8px;
  border: solid 3px #47bafc;
  padding: 2px;
}

.unfollow-button {
  color: white;
  font-family: var(--ff);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background: #47bafc;
  border: 1px solid #47bafc;
  border-radius: 8px;
  width: 140px;
  height: 49px;
}

@media (min-width: 600px) {
  .unfollow-button {
    width: 167px;
    font-size: 16px;
  }

  .profileCard {
    max-width: 831px;
    margin: auto;
  }
}

/* Feed */

main#feed {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  padding: 15px 2%;
  padding-left: 2%;
  padding-right: 2%;
  /* height: 102px; */
  width: 70%;
  background: #202024;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.post-card-profile {
  padding: 30px;
  width: 100%;
  background: #202024;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: center;
  max-width: 831px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.post-text {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #323238;
  font-family: var(--ff);
  line-height: 160%;
  font-size: 14px;
}

.post-card button,
.post-card-profile button {
  font-size: 14px;
  color: var(--text);
  font-weight: 500;
  /* border: 1px solid var(--bg-secondary); */
  border-radius: 8px;
  width: max-content;
  padding: 5px;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  /* border: 1px solid var(--divider);  */
  /* box-shadow: 0px 0px 10px var(--divider); */
}

.img-post-card {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.user-name {
  font-family: var(--ff);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.header-post-card {
  display: flex;
  justify-content: space-between;
}

.header-post-card {
  display: flex;
  justify-content: space-between;
}

.post-card nav {
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.post-content,
.comment-content {
  margin-top: 10px;
}

.profileCard {
  display: flex;
  background-color: var(--bg-secondary);
  max-width: 831px;
  min-width: 100px;
  border-radius: 8px;
  padding: 35px 50px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.profilePhoto {
  width: 156px;
  height: 156px;
  border-radius: 8px;
  border: solid 2px var(--secondary);
  transition: 0.2s ease-in-out;
  padding: 12.18px;
  margin-bottom: 15px;
}

.profilePhotoImg {
  border-radius: 8px;
  object-fit: cover;
  width: 128px;
  height: 128px;
}

.profileTitle {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 4px 4px #00000040, -1px 0 black, 0 1px black, 1px 0 black,
    0 -1px black;
}

.rightText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profileText {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.profileText span {
  margin-left: 8px;
}

.profileProf {
  line-height: 35px;
  font-size: 20px;
  font-weight: 400px;
  color: var(--text-secondary);
}

.user-prof {
  line-height: 20px;
  color: var(--text-secondary);
}

.leftText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.followersNumber {
  font-weight: bold;
  font-size: 32px;
}

.followers {
  color: var(--text-secondary);
}

.profileButton {
  display: flex;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  height: 50px;
  width: 192px;
  background-color: var(--bg-secondary);
  margin-top: 28px;
  color: var(--secondary);
  font-weight: bold;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  background-image: url("../assets/icon-button-profile-card.svg");
}

.profileButton:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.profileButton:hover .buttonIcon {
  filter: contrast(3) brightness(0) invert(1) grayscale(1);
}

/* COMENTÁRIO CARD */

.comment-input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-input textarea {
  border: 1px solid var(--secondary);
}

.comment-button {
  background-color: var(--primary);
  align-self: flex-end;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  font-family: var(--ff);
  font-weight: 700;
  font-size: 16px;
  color: var(--text);
  cursor: pointer;
}

::placeholder {
  color: var(--placeholder);
  line-height: 30px;
}

.open-comments,
.comment-head {
  display: flex;
  justify-content: space-between;
  font-size: 16px !important;
}

.write-comment textarea {
  min-width: 100%;
  max-width: 100%;
  border: none;
  background: var(--bg);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: var(--text);
  margin: 5px 0px;
}

.comment-card {
  width: auto;
  display: flex;
  margin: 10px;
}

.comment {
  width: 100%;
  margin-left: 16px;
  background-color: var(--bg);
  border-radius: 9px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.info-text {
  font-family: var(--ff);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--text-secondary);
  margin: 2px 0px 15px 0px;
}

#btn-trash {
  cursor: pointer;
}

#btn-trash-none {
  display: none;
}

.reaction {
  margin: 5px 18px 12px;
}

/* Adm */

#adm-div {
  flex-direction: row;
  align-items: center;
}

#adm-div label {
  font-size: 14px;
}

input#is-adm {
  width: 14px;
  height: 14px;
}

#adm-feed h1,
#adm-explore h1 {
  margin-bottom: 2rem;
}

#adm-feed section {
  width: 100%;
}

#adm-feed .post-card {
  margin: 0 auto 2rem;
}

.delete-user {
  cursor: pointer;
  color: var(--red-danger);
  border: 1px solid var(--red-danger);
  padding: 0.8rem;
  border-radius: 8px;
}

@keyframes hide-slide {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200%);
  }
}

@keyframes top-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  main {
    padding: 2rem 4rem;
  }

  main#index .logo {
    display: none;
  }

  main#index {
    display: block;
  }

  #index section {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
  }
  #index .form-wrapper {
    width: 22rem;
    padding: 2rem;
  }

  #logo-text {
    display: none;
  }

  .menu {
    gap: 1rem;
  }

  .menu img {
    width: 1.6rem;
  }

  .dropbtn .user-img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .profileCard {
    flex-direction: column;
  }

  .profileText {
    padding: 15px 32px 15px 0px;
    align-items: center;
    text-align: center;
    min-width: 250px;
  }

  .profileButton:hover {
    background-color: var(--secondary);
    color: var(--white);
  }

  .profileButton:hover .buttonIcon {
    filter: contrast(3) brightness(0) invert(1) grayscale(1);
  }
}

.hide {
  display: none;
}
